* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


body {
    height: 100vh;
    background: #121212; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 350px;
    background: #181818; 
    padding: 40px 35px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
}


.container h2 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #FFF;
    margin-bottom: 25px;
    position: relative;
}

.container h2::after {
    content: "";
    width: 60px;
    height: 2px;
    background: #1DB954; 
    display: block;
    margin: 8px auto 0 auto;
    border-radius: 4px;
}


.container input {
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    color: #FFF;
    margin-bottom: 20px;
    outline: none;
    transition: 0.2s;
}

.container input::placeholder {
    color: #9b9b9b;
}

.container input:focus {
    border-bottom: 1px solid #1DB954; 
}

/* ===== Botão ===== */
.container button {
    width: 100%;
    padding: 13px;
    background: #1DB954;
    color: #111;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    transform: translateY(0);
}

.container button:hover {
    background: #1ed760;
}

.container button:active {
    transform: translateY(2px);
}


#msgLogin, #msgCad {
    margin-top: 10px;
    font-size: 14px;
    color: #ff4d4d;
}


.container a {
    display: block;
    margin-top: 18px;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    transition: 0.2s;
}

.container a:hover {
    color: #1DB954;
}


@media (max-width: 400px) {
    .container {
        width: 90%;
        padding: 30px 25px;
    }
}
